.container{margin-bottom: 100px;}


.orange-bg{background-color: #fceae8;
           border-radius: 10px;}

.carousel-item{padding: 20px 40px;}


.price{color: #FF136F;}

.bye-now-button{background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
                color: #fff;
               border-radius: 8px;
               padding: 9px 25px;
               }

.cate1{background-color: orange;
      padding: 10px 30px; border-radius: 6px;
     }

.cate2{background-color: orchid;
     padding: 10px 30px; border-radius: 6px;
      }

.cate3{background-color: blue;
     padding: 10px 30px; border-radius: 6px;
     }

.categories h1{color: white;}

.categories img{width: 100px;}

.card{border: none;
     border-radius: 4px;
     box-shadow: 5px 5px 10px lightgray;}

.card-footer{background-color: whitesmoke;
             border-top: none;}


#Subscribe{height: 300px;

          }


 #Subscribe h6{color: gray;}

 footer p{text-align: center;}